:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1366px;
  height: 1627px;
  margin: 0 auto;
  background: #282c33;
  overflow: hidden;
}
.section {
  position: absolute;
  width: 155px;
  height: 1904px;
  top: 0;
  left: -77px;
  z-index: 184;
}
.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 38px;
  height: 310px;
  margin: 0 0 0 94px;
  padding: 0 0 29px 0;
  background: #282c33;
  z-index: 184;
}
.img {
  flex-shrink: 0;
  position: relative;
  width: 1px;
  height: 191px;
  background: url(./assets/images/6581f9a1-b3f4-4a6b-a3c0-3299eeb5446a.png)
    no-repeat center;
  background-size: cover;
  z-index: 185;
}
.section-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  width: 109px;
  height: 49px;
  margin: 91px 0 0 46px;
  z-index: 63;
}
.group {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 64;
}
.pic {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/834d4a64-e682-49bb-856c-f3bcad1637d8.png)
    no-repeat center;
  background-size: cover;
  z-index: 65;
  border-radius: 50%;
}
.img-2 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/3e6fd81b-7047-4745-91c4-0940545e5c91.png)
    no-repeat center;
  background-size: cover;
  z-index: 66;
  border-radius: 50%;
}
.pic-2 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/5c3a2be4-72f1-4148-afc4-6efcaf99ff01.png)
    no-repeat center;
  background-size: cover;
  z-index: 67;
  border-radius: 50%;
}
.img-3 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/e572adfe-dc05-49b1-ab95-825124152189.png)
    no-repeat center;
  background-size: cover;
  z-index: 68;
  border-radius: 50%;
}
.img-4 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/08111e44-8aac-4aea-b682-7c9457591dbe.png)
    no-repeat center;
  background-size: cover;
  z-index: 69;
  border-radius: 50%;
}
.group-2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 70;
}
.img-5 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/fc262439-e117-47b0-90b4-acf966623021.png)
    no-repeat center;
  background-size: cover;
  z-index: 71;
  border-radius: 50%;
}
.img-6 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/68ea7962-da4d-4c4f-8755-81e78f358133.png)
    no-repeat center;
  background-size: cover;
  z-index: 72;
  border-radius: 50%;
}
.img-7 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/3dc9b1ff-7bc5-49fc-ac3d-d9d1c78def30.png)
    no-repeat center;
  background-size: cover;
  z-index: 73;
  border-radius: 50%;
}
.pic-3 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/6c3d0abd-e02e-48ef-b379-0d9801940dcf.png)
    no-repeat center;
  background-size: cover;
  z-index: 74;
  border-radius: 50%;
}
.pic-4 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/8c742b97-6dd7-4717-9f86-cef0a49210b1.png)
    no-repeat center;
  background-size: cover;
  z-index: 75;
  border-radius: 50%;
}
.box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 76;
}
.pic-5 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/2f86b1fe-aae8-4a80-9df1-1cc7701812e4.png)
    no-repeat center;
  background-size: cover;
  z-index: 77;
  border-radius: 50%;
}
.img-8 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/8b5aaa53-bee1-4ae5-8373-05c1c214b85b.png)
    no-repeat center;
  background-size: cover;
  z-index: 78;
  border-radius: 50%;
}
.img-9 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/6d5dc94c-4479-4605-92b2-f9a07af9d585.png)
    no-repeat center;
  background-size: cover;
  z-index: 79;
  border-radius: 50%;
}
.img-a {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/319b8be8-7863-4e68-a4e9-20c562b58104.png)
    no-repeat center;
  background-size: cover;
  z-index: 80;
  border-radius: 50%;
}
.img-b {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/f6e5fb40-cc49-417e-a11f-3e9188fd0977.png)
    no-repeat center;
  background-size: cover;
  z-index: 81;
  border-radius: 50%;
}
.box-2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 82;
}
.pic-6 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/206e87b3-d32f-48ae-85d8-7772010ee017.png)
    no-repeat center;
  background-size: cover;
  z-index: 83;
  border-radius: 50%;
}
.pic-7 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/7ce6272a-e05e-4707-acf2-8e35edc9f9c5.png)
    no-repeat center;
  background-size: cover;
  z-index: 84;
  border-radius: 50%;
}
.pic-8 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/0bc202c6-35e4-46be-997d-7f45224cb34d.png)
    no-repeat center;
  background-size: cover;
  z-index: 85;
  border-radius: 50%;
}
.img-c {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/4e7b0402-1483-475f-ae58-4489714f9187.png)
    no-repeat center;
  background-size: cover;
  z-index: 86;
  border-radius: 50%;
}
.pic-9 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/48d7ea53-8cee-45e1-a75e-75316edb4f5d.png)
    no-repeat center;
  background-size: cover;
  z-index: 87;
  border-radius: 50%;
}
.box-3 {
  position: relative;
  width: 155px;
  height: 155px;
  margin: 703px 0 0 0;
  border: 1px solid #abb2bf;
  z-index: 88;
}
.section-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  width: 103px;
  height: 103px;
  margin: 493px 0 0 26px;
  z-index: 32;
}
.group-3 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 33;
}
.img-d {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/a7790ef3-a149-46ad-af0c-61b7e77e8539.png)
    no-repeat center;
  background-size: cover;
  z-index: 34;
  border-radius: 50%;
}
.img-e {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/6a9b2a2e-f303-44b4-9eb2-d885f4a27d4d.png)
    no-repeat center;
  background-size: cover;
  z-index: 35;
  border-radius: 50%;
}
.img-f {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/f47c215f-c5ea-4114-83ae-b6fd142db0fd.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
  border-radius: 50%;
}
.pic-a {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/d5bb5f5e-9e93-4e43-b42a-b9353e955360.png)
    no-repeat center;
  background-size: cover;
  z-index: 37;
  border-radius: 50%;
}
.img-10 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/cdbaf2dc-1546-468d-a247-a0d0bbf6bea2.png)
    no-repeat center;
  background-size: cover;
  z-index: 38;
  border-radius: 50%;
}
.frame {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 39;
}
.ellipse {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/3b9d8302-af98-4ce6-b117-1a9bdc1f1e54.png)
    no-repeat center;
  background-size: cover;
  z-index: 40;
  border-radius: 50%;
}
.ellipse-1 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/ff1300b1-3d3e-4374-8c41-bdc39fed27f7.png)
    no-repeat center;
  background-size: cover;
  z-index: 41;
  border-radius: 50%;
}
.ellipse-2 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/4e354388-c509-4dea-a3e5-bd01c70fadee.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
  border-radius: 50%;
}
.ellipse-3 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/fd93bdef-6a42-4ecf-beff-7b5c1b921790.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
  border-radius: 50%;
}
.ellipse-4 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/227758f1-e884-47aa-b2d5-49e14824ca28.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
  border-radius: 50%;
}
.frame-5 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 45;
}
.ellipse-6 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/3c27ae44-de39-48b9-b38d-828c3b4efd7c.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
  border-radius: 50%;
}
.ellipse-7 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/9e0002d5-1e5a-4eed-8116-4047e2843cfe.png)
    no-repeat center;
  background-size: cover;
  z-index: 47;
  border-radius: 50%;
}
.ellipse-8 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/661db73e-74fd-472e-941a-c33198a6b8e8.png)
    no-repeat center;
  background-size: cover;
  z-index: 48;
  border-radius: 50%;
}
.ellipse-9 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/16b50d5d-3783-4a1d-8728-f4303c526467.png)
    no-repeat center;
  background-size: cover;
  z-index: 49;
  border-radius: 50%;
}
.ellipse-a {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/661e08de-1496-4c6e-8105-b01537ca85a3.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
  border-radius: 50%;
}
.frame-b {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 51;
}
.ellipse-c {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/e739f6f8-c994-4140-9154-3bd141fe76d7.png)
    no-repeat center;
  background-size: cover;
  z-index: 52;
  border-radius: 50%;
}
.ellipse-d {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/6e52e034-5520-471d-a2be-ab14cd206244.png)
    no-repeat center;
  background-size: cover;
  z-index: 53;
  border-radius: 50%;
}
.ellipse-e {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/1efc3bb7-018b-49ce-954d-d882581dc03c.png)
    no-repeat center;
  background-size: cover;
  z-index: 54;
  border-radius: 50%;
}
.ellipse-f {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/4d1ce00f-0fa3-403f-aa10-7afdbe4aeba5.png)
    no-repeat center;
  background-size: cover;
  z-index: 55;
  border-radius: 50%;
}
.ellipse-10 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/cc23c5a5-a72f-4d68-9064-002a0584be84.png)
    no-repeat center;
  background-size: cover;
  z-index: 56;
  border-radius: 50%;
}
.frame-11 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 57;
}
.ellipse-12 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/3951de8e-f8c0-4ba7-8504-8d9d5780c2a9.png)
    no-repeat center;
  background-size: cover;
  z-index: 58;
  border-radius: 50%;
}
.ellipse-13 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/75217c25-c47d-432a-882b-68d33766a736.png)
    no-repeat center;
  background-size: cover;
  z-index: 59;
  border-radius: 50%;
}
.ellipse-14 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/bf1628d4-8217-4915-b9c3-cec37ecd3f92.png)
    no-repeat center;
  background-size: cover;
  z-index: 60;
  border-radius: 50%;
}
.ellipse-15 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/20568bdd-bc5b-4329-85d0-c86b683fdda7.png)
    no-repeat center;
  background-size: cover;
  z-index: 61;
  border-radius: 50%;
}
.ellipse-16 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/bf7043f8-595a-432a-9611-57761c4848ff.png)
    no-repeat center;
  background-size: cover;
  z-index: 62;
  border-radius: 50%;
}
.flex-column-af {
  position: absolute;
  height: 97.66%;
  top: 0.43%;
  right: -108px;
  left: 1px;
  z-index: 183;
}
.frame-17 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 174px;
  margin: 107px 0 0 170px;
  z-index: 91;
}
.slash {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 42px;
  color: #4361ee;
  font-family: Fira Code, var(--default-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 41.984px;
  text-align: left;
  white-space: nowrap;
  z-index: 92;
}
.projects {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 42px;
  color: #ffffff;
  font-family: Fira Code, var(--default-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 41.984px;
  text-align: left;
  white-space: nowrap;
  z-index: 93;
}
.list-of-my-projects {
  display: block;
  position: relative;
  height: 21px;
  margin: 14px 0 0 170px;
  color: #ffffff;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 94;
}
.line {
  position: relative;
  width: 1365px;
  height: 1px;
  margin: 1205px 0 0 0;
  background: url(./assets/images/a4ae9b51-bfcd-455d-9951-ee163e274d2f.png)
    no-repeat center;
  background-size: cover;
  z-index: 183;
}
.frame-18 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 48px;
  position: relative;
  width: 1025px;
  height: 189px;
  margin: 10px 0 0 204px;
  z-index: 172;
}
.frame-19 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 1025px;
  z-index: 173;
}
.group {
  flex-shrink: 0;
  position: relative;
  width: 667px;
  height: 141px;
  font-size: 0px;
  z-index: 174;
}
.ui-ux-designer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 650px;
  height: 73px;
  margin: 68px 0 0 17px;
  color: #ffffff;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.992px;
  text-align: left;
  z-index: 175;
}
.logo-junaid-urdu {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background: url(./assets/images/4b8ce6ce122c974d466a9451aae75f16d7279680.png)
    no-repeat center;
  background-size: cover;
  z-index: 176;
}
.frame-1a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 135px;
  height: 21px;
  top: 14px;
  left: 25px;
  z-index: 177;
}
.rayees-khan {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 20.992px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 178;
}
.group-1b {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 179;
}
.group-1c {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 180;
}
.github {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 181;
}
.copyright {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #abb2bf;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 182;
}
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: absolute;
  width: 1024px;
  height: 61px;
  top: 0;
  left: 449px;
  padding: 32px 0 8px 0;
  background: #282c33;
  z-index: 147;
}
.frame-1d {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 32px;
  position: relative;
  width: 443px;
  z-index: 148;
}
.header-link {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 49px;
  z-index: 149;
}
.frame-1d  a{
  list-style: none;
  color: white;
  text-decoration: none;
}
/* .hash {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #4361ee;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 150;
} */
.home {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 151;
}
.header-link-1e {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 58px;
  z-index: 152;
}
/* .hash-1f {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #4361ee;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 153;
} */
.works {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #abb2bf;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 154;
}
.header-link-20 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 87px;
  z-index: 155;
}
/* .hash-21 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #4361ee;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 156;
} */
.about-me {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #abb2bf;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 157;
}
.header-link-22 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 87px;
  z-index: 158;
}
/* .hash-23 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #4361ee;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 159;
} */
.contacts {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #abb2bf;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 160;
}
.language-switcher {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 34px;
  z-index: 161;
}
.en {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #abb2bf;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 162;
}
.frame-24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: absolute;
  width: 36px;
  height: 1px;
  top: 25px;
  left: 0;
  padding: 8px 8px 8px 8px;
  background: #282c33;
  border: 1px solid #abb2bf;
  z-index: 166;
  overflow: hidden;
}
.ru {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #abb2bf;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 167;
}
.ua {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #abb2bf;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 168;
}
.group-25 {
  flex-shrink: 0;
  position: relative;
  width: 10px;
  height: 5px;
  z-index: 163;
}
.line-26 {
  position: relative;
  width: 6.414px;
  height: 6.414px;
  margin: -1.414px 0 0 0;
  background: url(./assets/images/07e8dcaa-78bf-443c-9ec0-ee6c1f0f853d.png)
    no-repeat center;
  background-size: cover;
  z-index: 164;
}
.line-27 {
  position: relative;
  width: 6.414px;
  height: 6.414px;
  margin: -6.414px 0 0 3.586px;
  background: url(./assets/images/4e7980f6-c17a-4dc0-9d3c-ba72565a0cd2.png)
    no-repeat center;
  background-size: cover;
  z-index: 165;
}
.logo-junaid-urdu-28 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 11px;
  left: 155px;
  background: url(./assets/images/4b8ce6ce122c974d466a9451aae75f16d7279680.png)
    no-repeat center;
  background-size: cover;
  z-index: 170;
}
.rayees-khan-29 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 0.87%;
  top: 1%;
  left: 12.63%;
  color: #ffffff;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 13.766px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 169;
}
.rectangle {
  position: absolute;
  width: 155px;
  height: 155px;
  top: 249px;
  left: 1297px;
  border: 1px solid #abb2bf;
  z-index: 89;
}
.frame-2a {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  position: absolute;
  width: 1023.157px;
  height: 403px;
  top: 315px;
  left: 170px;
  z-index: 96;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 330.579px;
  height: 403px;
  border: 1px solid #abb2bf;
  z-index: 97;
  box-sizing: content-box;
}
.image {
  flex-shrink: 0;
  position: relative;
  width: 330px;
  height: 201px;
  background: url(./assets/images/f533a8a52a1822263d98c74d9d9e66542a896c4a.png)
    no-repeat center;
  background-size: cover;
  z-index: 98;
  border-bottom: 1px solid #abb2bf;
}
.frame-2b {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 153px;
  font-size: 0px;
  /* border-bottom: 1px solid #abb2bf; */
  z-index: 99;
}
.street-view {
  display: block;
  position: relative;
  height: 31px;
  margin: 16px 0 0 16px;
  color: #ffffff;
  font-family: Fira Code, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  text-align: left;
  white-space: nowrap;
  z-index: 100;
}
.live-earth-map {
  display: block;
  position: relative;
  height: 21px;
  margin: 17px 0 0 16px;
  color: #abb2bf;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 101;
}
.frame-2c {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  position: relative;
  width: 100px;
  margin: 17px 0 0 16px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 102;
}
.frame-2d {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 100px;
  padding: 8px 16px 8px 16px;
  background: #4361ee;
  border: 1px solid #4361ee;
  z-index: 103;
}
.behance {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20.992px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 104;
}
.go-style {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 330px;
  height: 403px;
  border: 1px solid #abb2bf;
  z-index: 105;
  box-sizing: content-box;
}
.image-2e {
  flex-shrink: 0;
  position: relative;
  width: 330px;
  height: 201px;
  background: url(./assets/images/4cae104e2c9c64da7aae03620227b2beb31d370f.png)
    no-repeat center;
  background-size: cover;
  border-bottom: 1px solid #abb2bf;
  z-index: 106;
}
.frame-2f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  min-width: 0;
  padding: 16px 16px 16px 16px;
  /* border-bottom: 1px solid #abb2bf; */
  z-index: 107;
}
.go-style-30 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 31px;
  color: #ffffff;
  font-family: Fira Code, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  text-align: left;
  white-space: nowrap;
  z-index: 108;
}
.online-shopping-app {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #abb2bf;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 109;
}
.frame-31 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 100px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 110;
}
.frame-32 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 100px;
  padding: 8px 16px 8px 16px;
  background: #4361ee;
  border: 1px solid #4361ee;
  z-index: 111;
}
.behance-33 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20.992px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 112;
}
.frame-34 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 100px;
  height: 37px;
  padding: 0;
  z-index: 113;
}
.frame-35 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 16px;
  position: relative;
  width: 100px;
  min-height: 0;
  padding: 0 0 0 0;
  z-index: 114;
}
.image-36 {
  flex-shrink: 0;
  position: relative;
  width: 330px;
  height: 201px;
  z-index: 115;
}
.group-37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 330.579px;
  height: 403px;
  border: 1px solid #abb2bf;
  z-index: 116;
  box-sizing: content-box;
}
.image-38 {
  flex-shrink: 0;
  position: relative;
  width: 330px;
  height: 201px;
  background: url(./assets/images/e06f9401ffd7913d602b831d8b4c35ae8f85d607.png)
    no-repeat center;
  background-size: cover;
  border-bottom: 1px solid #abb2bf; 
  z-index: 117;
}
.frame-39 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  min-width: 0;
  padding: 16px 16px 16px 16px;
  /* border-bottom: 1px solid #abb2bf; */
  z-index: 118;
}
.wally-app {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 31px;
  color: #ffffff;
  font-family: Fira Code, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  text-align: left;
  white-space: nowrap;
  z-index: 119;
}
.live-wallpaper-app {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #abb2bf;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 120;
}
.frame-3a {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 100px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 121;
}
.frame-3b {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 100px;
  z-index: 122;
}
.frame-3c {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 100px;
  z-index: 123;
}
.frame-3d {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 100px;
  padding: 8px 16px 8px 16px;
  background: #4361ee;
  border: 1px solid #4361ee;
  z-index: 124;
}
.behance-3e {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20.992px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 125;
}
.frame-3f {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  position: absolute;
  width: 330.579px;
  height: 403px;
  top: 734px;
  left: 170px;
  z-index: 126;
}
.project-40 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 330.579px;
  height: 403px;
  border: 1px solid #abb2bf;
  z-index: 127;
  box-sizing: content-box;
}
.image-41 {
  flex-shrink: 0;
  position: relative;
  width: 330px;
  height: 201px;
  background: url(./assets/images/62002278d1cb65291254f93354cde95e6885e298.png)
    no-repeat center;
  background-size: cover;
  border-bottom: 1px solid #abb2bf;
  z-index: 128;
}
.frame-42 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  /* gap: 16px; */
  position: relative;
  min-width: 0;
  padding: 16px 16px 16px 16px;
  /* padding: 10px 15px 10px 15px; */
  z-index: 129;
}
.electrician-accelerator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 298.579px;
  height: 62px;
  color: #ffffff;
  font-family: Fira Code, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 31.488px;
  text-align: left;
  z-index: 130;
}
.light-up-houses {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #abb2bf;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 131;
}
.frame-43 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 100px;
  height: 71px;
  z-index: 132;
}
.frame-44 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 100px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 133;
}
.frame-45 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 100px;
  z-index: 134;
}
.frame-46 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 100px;
  padding: 8px 8px 8px 16px;
  background: #4361ee;
  border: 1px solid #4361ee;
  z-index: 135;
}
.behance-47 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20.992px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 136;
  
}
.project-48 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  width: 332px;
  height: 403px;
  top: 734px;
  left: 517px;
  border: 1px solid #abb2bf;
  z-index: 137;
  box-sizing: content-box;
}
.image-49 {
  flex-shrink: 0;
  position: relative;
  width: 330px;
  height: 201px;
  background: url(./assets/images/5e814266eca37f5bc4d6a4e57bfd2d8718898be7.png)
    no-repeat center;
  background-size: cover;
  border-bottom: 1px solid #abb2bf;
  z-index: 138;
}
.frame-4a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  min-width: 0;
  padding: 16px 16px 16px 16px;
  /* border-bottom: 1px solid #abb2bf; */
  z-index: 139;
}
.data-recovery {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 31px;
  color: #ffffff;
  font-family: Fira Code, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  text-align: left;
  white-space: nowrap;
  z-index: 140;
}
.text-20 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #abb2bf;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.992px;
  text-align: left;
  white-space: nowrap;
  z-index: 141;
}
.Button-5 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: absolute;
  width: 100px;
  height: 37px;
  top: 99px;
  left: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 142;
}
.section-11 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 100px;
  padding: 8px 16px 8px 16px;
  background: #4361ee;
  border: 1px solid #4361ee;
  z-index: 143;
}
.text-21 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Fira Code, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20.992px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 144;
}
.section-12 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  height: 37px;
  padding: 0 0 0 0;
  z-index: 145;
}
.group-12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: absolute;
  width: 103px;
  height: 103px;
  top: 1112px;
  left: 1297px;
  z-index: 1;
}
.box-13 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 2;
}
.pic-1c {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/265a65bb-6e05-458f-9fce-7e92481cad78.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
  border-radius: 50%;
}
.pic-1d {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/eb3ffa6c-0ef3-4467-b29f-723778966311.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
  border-radius: 50%;
}
.pic-1e {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/b9c0404c-6a13-429a-879b-4061921a4bae.png)
    no-repeat center;
  background-size: cover;
  z-index: 5;
  border-radius: 50%;
}
.pic-1f {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/d898d1e2-c340-4980-b0db-3dbcb5a05f77.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
  border-radius: 50%;
}
.img-1e {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/3759c89b-12bb-4f7c-babf-d64658b1b272.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
  border-radius: 50%;
}
.wrapper-6 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 8;
}
.img-1f {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/417810c7-2bef-49cc-8da0-41b87a2b82f2.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
  border-radius: 50%;
}
.img-20 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/e81beade-2ead-4eef-9da0-0f9ffa762e56.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
  border-radius: 50%;
}
.img-21 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/91a14560-0396-45ac-a407-90802be464fb.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
  border-radius: 50%;
}
.pic-20 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/485a278e-44b5-4f32-b9a0-a07d6bcf52e6.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
  border-radius: 50%;
}
.img-22 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/c039ea3c-b35f-4e93-9b42-209233800666.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
  border-radius: 50%;
}
.wrapper-7 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 14;
}
.pic-21 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/346615d3-53ee-432c-91c9-a75b27af9670.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
  border-radius: 50%;
}
.img-23 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/7e9bb3cf-31c0-49cf-b3cd-941d37f3edf5.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
  border-radius: 50%;
}
.img-24 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/115159c7-b6c5-4e3d-9036-6ef35aa57c13.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
  border-radius: 50%;
}
.img-25 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/f1c888da-24df-4f05-b01f-56c9f7e1fef4.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
  border-radius: 50%;
}
.img-26 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/92e36d53-86a2-4708-9f22-9b458318fe6a.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
  border-radius: 50%;
}
.group-13 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 20;
}
.img-27 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/f0f78506-6b17-4252-8e66-c9bae7ebbdea.png)
    no-repeat center;
  background-size: cover;
  z-index: 21;
  border-radius: 50%;
}
.pic-22 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/c6885fa4-7517-4b63-b399-c2370603d508.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
  border-radius: 50%;
}
.img-28 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/7b50b038-5d45-429e-a7d8-5732111b4df3.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
  border-radius: 50%;
}
.img-29 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/15921eec-327b-4619-804a-8341d819f8bd.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
  border-radius: 50%;
}
.img-2a {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/4c975c78-3b6b-4b85-97f9-b5db3e5e2c8b.png)
    no-repeat center;
  background-size: cover;
  z-index: 25;
  border-radius: 50%;
}
.box-14 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 26;
}
.img-2b {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/46b0a6cf-7306-405c-94e5-bc930568f128.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
  border-radius: 50%;
}
.pic-23 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/0b506916-99de-479e-8021-1854786e6f40.png)
    no-repeat center;
  background-size: cover;
  z-index: 28;
  border-radius: 50%;
}
.pic-24 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/adda9247-75fa-4418-a84a-6b02fde1f2f5.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
  border-radius: 50%;
}
.pic-25 {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/e90dcdc4-5c08-4df9-b500-e477753aafd3.png)
    no-repeat center;
  background-size: cover;
  z-index: 30;
  border-radius: 50%;
}
.img-2c {
  flex-shrink: 0;
  position: relative;
  width: 4px;
  height: 4px;
  background: url(./assets/images/80b9c965-001f-46f6-bd34-a8fc5e7766a0.png)
    no-repeat center;
  background-size: cover;
  z-index: 31;
  border-radius: 50%;
}
